* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --background-color: #fff;

}

.dark-mode {
    --primary-color: #fff;
    --secondary-color: #000;
    --background-color: #000126;
}

body {
    background-color: var(--background-color);

}



/* Aca van los contenidos del header */

.containerHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 1pc;
    margin-left: 8pc;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.titulo {
    color: var(--primary-color);
}

.contact {
    display: flex;
    align-items: center;
    margin-right: 8pc;
    /* margin-left: 10pc; */
}

.contact ul {
    display: flex;
    list-style: none;
}

.contact ul li {
    color: var(--primary-color);
    margin-right: 2pc;
}

.contact ul a {
    color: var(--first-color);
    text-decoration: none;
}


.contact ul li:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    color: #FE2EEF;

}

/* Final de los estilos del header */

/* Aca van los contenidos del main */


.presentation {
    display: flex;
    width: 100%;
    margin-top: 4pc;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 60%;
}

.content h1 {
    margin-bottom: 2pc;
}

.content p {
    color: var(--primary-color);
    font-size: 20px;
    width: 85%;
}

.button {
    margin-top: 2pc;
}

#title {
    color: var(--primary-color);
    font-size: 76px;
}

/* .bxs-moon {
    color: var(--secondary-color);
} */

#btnMode {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to right, #FE2EEF, #3F75FF);
    box-shadow: 0 0 10px blue;
    width: 30pc;
    height: 3pc;
    font-size: 20px;
    font-weight: 700;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4pc;
    width: 40%;
}

.imagenCo {
    box-shadow: 0 0 0 #000;
    width: 20pc;
    height: 20pc;
}

.imagenCo img {
    width: 100%;
    height: 100%;
}

.imagenCo img:hover {
    transition: 0.4s ease-in-out all;
    transform: scale(1.1);
    z-index: 2;
}

/* Estilos de la pc */
.containerDescriptionPC {
    display: flex;
    width: 100%;
    margin-top: 9pc;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 4pc;

}

.explanation {
    width: 30pc;
}

.number {
    font-size: 8pc;
    position: absolute;
    top: 32pc;
    left: 2pc;
    z-index: -1;
}



.explanation h2 {
    font-size: 44px;
}

.explanation p {
    font-size: 23px;
}

.pcContainer {
    width: 25pc;
    height: 15pc;
}

.pcContainer img {
    width: 100%;
    height: 100%;
}



.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.containerBtn {
    width: 4pc;
    height: 4pc;
}

.containerBtn img {

    width: 100%;
    height: 100%;
}

.containerBtn img:hover {
    transition: 0.4s ease-in-out all;
    transform: scale(1.1);
    z-index: 2;
}

.containerBtn img:hover {
    cursor: pointer;
}

/* Final estilos pc */

/* Estilos del bulb */

.containerBulb {
    display: flex;
    width: 100%;
    margin-top: 6pc;
    margin-bottom: 6pc;
}

.bulbContainer {
    width: 17pc;
    height: 19pc;
}

.bulbContainer img {
    width: 100%;
    height: 100%;
}

/* Final estilos del bulb */

/* Estilos del cuadro */
.containerBox {
    display: flex;
    width: 100%;
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.box {
    background-color: #777777;
    width: 15pc;
    height: 15pc;
}

.boxButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.boxButtons button {
    cursor: pointer;
    background: linear-gradient(to right, #FE2EEF, #3F75FF);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    width: 6pc;
    height: 3pc;
    margin-right: 2pc;
}

/* Final estilos del cuadro */


/* Final de los estilos del main */

/* Aca van los contenidos del footer */
/* Final de los estilos del footer */

@media (max-width: 600px) {
    .presentation {
        display: block;
    }
}

@media (max-width: 768px) {
    .presentation {
        display: block;
    }
}

@media (max-width: 992px) {
    .presentation {
        display: block;
    }
}

@media (max-width: 1100px) {
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen {
        display: flex;
    }

    .imagenCo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}