/* * {
    margin: 0;
    padding: 0;

} */


.container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.container input {
    width: 80%;
    font-size: 1rem
}

.container label {
    font-size: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    padding: .5rem;
    border: 1px solid black;
}

.hide {
    display: none;
}